aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
autocorrect
autocrop
cachetools
certifi
charset-normalizer
click
cloudinary
colorama
coloredlogs
contourpy
cycler
distro
et-xmlfile
exceptiongroup
filelock
flatbuffers
fonttools
frozenlist
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
huggingface-hub
humanfriendly
idna
imageio
inexactsearch
Jinja2
jiter
joblib
kiwisolver
lazy_loader
MarkupSafe
matplotlib
mpmath
multidict
networkx
nltk
numpy
onnxruntime
openai
opencv-python
openpyxl
packaging
pandas
pillow
proto-plus
protobuf
psutil
py-cpuinfo
pyasn1
pyasn1_modules
pydantic
pydantic_core
pyparsing
pyreadline3
pyspellchecker
python-dateutil
pytz
PyYAML
regex
requests
rsa
safetensors
scikit-image
scikit-learn
scipy
seaborn
sentencepiece
silpa_common
six
smmap
sniffio
soundex
spellcheck
spellchecker
sympy
textblob
transformers
uritemplate
urllib3
watchdog
yarl
gunicorn